<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Node.js課題④</title>
    <meta name="description" content="Node.js課題④">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script defer src="/js/posts.js"></script>
</head>
<body>
    <header>
        <nav>
            <div id="nav">
                Node.js Lesson4
                <a align="right" id="viewPosts" href="./viewPosts">みんなの投稿</a>
                <a align="right" id="viewCreate" href="./viewCreate">投稿を作成</a>
                <ul align="right">
                    <li class="item"><a id="logout1" href=""></a>
                        <ul class="child">
                            <li><a id="logout2" href="/users/logout">logout</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <div>
            <% if (posts) { %>
                <table>
                <% posts.forEach(function(value, key) { %>
                        <tr>
                            投稿ID：<%= value.id %><br>
                            タイトル：<%= value.title %><br>
                            コンテンツ：<%= value.content %><br>
                            投稿者ID：<%= value.userId %><br>
                            投稿者：<%= value.name %><br>
                            <a>ここにいいねが出力される予定</a><br>
                            <% if (value.userId == login_user_id) { %>
                            <a href="/posts/viewUpdate/<%= value.id %>">編集</a><br>
                            <a href="/posts/delete/<%= value.id %>">削除</a><br> 
                            <% } %>
                            <br>
                        </tr>
                <% }); %>
                </table>
            <% } %>
    </div>
</body>
</html>
